.error{
  display: block;
  color: red;
  font-size: 12px;
}
/*-----------------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
body {
  background-image: url(../img/bgForm.jpg);
  font-family: 'Hedvig Letters Serif', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-container{
  z-index: 1;
  width: 600px;
  padding: 20px;
  margin: 3rem 0;
  border-radius: 30px;
  border: solid #4a148c 5px;
  box-shadow: 0 2px 10px rgb(255, 255, 255);
  background-color: #d4c9ea;
}

h1 {
  text-align: center;
  margin: 0 0 20px;
  color: #1a237e;
}
.form-group{
  margin-bottom: 20px;
}
.form-group label{
  font-size: 17px;
  font-weight: 600;
  color: #4527a0;
  display: block;
  margin: 5px;
}

.form-group input,select{
  background-color: #ede7f6;
  border: 1px solid #263238;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 13px;
  transition: all .2s;
}
.form-group small{
  color: #757575;
  font-size: 15px;
}

/* Styling for the submit button */
.form-group button[type="submit"] {
  background-color: #b39ddb;
  padding: 10px 15px;
  border-color: black;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button[type="submit"]:hover{
  background-color: #ede7f6;
}

.form-group input:focus{
  outline: 0;
  border-color: #4dd0e1;
}

.form button{
  cursor: pointer;
  background-color: rgb(0, 113, 75);
  border: 2px solid rgb(0, 113, 75);
  color: aliceblue;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
}

/*------------------------------------------*/
#resultContainer{
  margin-top: 70px;
}

#resultContainer h1 {
  font-size: 25px;
  text-align: center;
  width: 150px;
  background-color: #738ffe;
  border-radius: 30px;
  border: solid  #283593 3px;
}


#resultContainer p {
  margin-left: 65px;
  text-align: left;
  padding-bottom: 10px;
}
#resultContainer img {
  margin-left: 100px;
  max-width: 350px;
  height: auto;
  display: block;
  border: 5px solid #b39ddb;
  border-radius: 20px;
}

/*#submittedData h2{
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 20px;
  color: #fff;
}
#DataUser h2{
  background-color:#006633;
  box-shadow: 0 2px 10px #13bb67;
}
#DateActivity h2{
  background-color:#DF2E38;
  box-shadow: 0 2px 10px #ff313b;
}
#submittedData li{
  text-align: left;
  padding-bottom: 10px;
  list-style: none;
}
#DataUser,#DateActivity{
  margin-bottom: 2rem;
}
#DataUser ul,#DateActivity ul{
  margin: 0 5rem;
}
#Dateimage img{
  border-radius: 20px;
}*/

